.checkout {
    display: flex;
    &__list {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
    }
    &__summary {
        flex-grow: 1;
    }
}

.cart {
    &__main {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}