.image {
    &__code {
        width: 116px;
        height: 102px;
    }
    &__share {
        width: 106px;
        height: 106px;
    }
    &__play {
        width: 146px;
        height: 122px;
    }
    &__slimes {
        left: 90px;
        top: 90px;
        width: 135px;
        height: 122px;
        position: absolute;
    }
    &__mushroom {
        width: 60px;
        height: 59px;
        position: absolute;
        right: 50px;
        margin-top: -50px;
    }
    &__cuphead {
        width: 60%;
        margin-left: 10px;
    }
    &__responsivelogo {
        width: 50px;
    }
    &__facebook {
        width: 60px;
        height: 60px;
        position: absolute;
        bottom: 100px;
        right: 100px;
    }
    &__slider {
        height: 40px;
        position: absolute;
        top: 500px;
        z-index: 1;
        &--forward {
            right: 15px;
        }
        &--back {
            left: 15px;
        }
    }
    &__controller {
        position: absolute;
        width: 100px;
    }
    &__computer {
        position: absolute;
        width: 130px;
        left: 390px;
        top: 115px;
    }
    &__controller {
        position: absolute;
        width: 110px;
        right: 370px;
        top: 80px;
    }
    &__keyboard {
        width: 250px;
    }
    &__close {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 15px;
        right: 15px;
    }
    &__preload {
        position: absolute;
        opacity: 0;
    }
    &__loginlogo {
        width: 200px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}