.image {
    &__code {
        width: 116px;
        height: 102px;
    }
    &__share {
        width: 106px;
        height: 106px;
    }
    &__play {
        width: 146px;
        height: 122px;
    }
    &__slimes {
        left: 90px;
        top: 90px;
        width: 135px;
        height: 122px;
        position: absolute;
    }
    &__mushroom {
        right: 90px;
        top: 250px;
        width: 60px;
        height: 59px;
        position: absolute;
    }
    &__cuphead {
        width: 602px;
        height: 217px;
    }
    &__responsivelogo {
        width: 50px;
    }
    &__facebook {
        width: 60px;
        height: 60px;
        position: absolute;
        bottom: 100px;
        right: 100px;
    }
    &__slider {
        height: 40px;
        position: absolute;
        top: 500px;
        z-index: 1;
        &--forward {
            right: 15px;
        }
        &--back {
            left: 15px;
        }
    }
    &__controller {
        position: absolute;
        width: 100px;
    }
    &__computer {
        position: absolute;
        width: 130px;
        left: 390px;
        top: 100px;
    }
    &__controller {
        position: absolute;
        width: 110px;
        right: 350px;
        top: 60px;
    }
}