.gallery {
    width: 1000px;
    background-color: #E7E6E2;
    margin-top: -55px;
    display: flex;
    flex-direction: column;
    &__row {
        display: flex;
        flex-direction: row;
        padding: 10px;
        width: 100%;
        &--down {
            padding-top: 0px;
        }
    }
    &__container {
        display: flex;
        position: relative;
        &--right {
            padding-right: 0px;
        }
        &--left {
            margin-right: 10px;
        }
        &:hover .gallery__layer {
            transform: scale(1);
        }
    }
    &__photo {
        width: 100%;
    }
    &__layer {
        position: absolute;
        display: flex;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.6);
        transform: scale(0);
        transition: .1s ease;
        align-items: flex-end;
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__graphic {
        position: absolute;
        z-index: 0;
        &--one {
            left: 0px;
            width: 60px;
            top: 50px;
        }
        &--two {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 85px;
        }
        &--three {
            position: absolute;
            top: 800px;
            left: 0px;
            width: 200px;
        }
        &--four {
            position: absolute;
            top: 600px;
            right: -5px;
            width: 400px;
        }
        &--five {
            position: absolute;
            top: 800px;
            right: -5px;
            width: 40px;
        }
    }
}

.infoblock {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin-top: 70px;
    width: 990px;
    &__logo {
        width: 280px;
        height: 61px;
    }
    &__text {
        font-size: 22px;
        text-align: center;
        width: 700px;
    }
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 40px;
        width: 100%;
    }
}

.card {
    position: relative;
    display: flex;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: $main-black;
    &__square {
        width: 30px;
        height: 30px;
        &--one {
            background-color: $red-color;
        }
        &--two {
            background-color: $yellow-color;
        }
        &--three {
            background-color: $green-color;
        }
    }
    &__squares {
        display: flex;
        flex-direction: row;
        &--column {
            flex-direction: column;
            align-self: flex-start;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    &__title {
        display: flex;
        flex-direction: row;
    }
    &__squarescontainer {
        position: absolute;
        display: flex;
        flex-direction: row;
        bottom: 0px;
        &--column {
            flex-direction: column;
            top: 0px;
        }
    }
    &__shadow {
        height: 300px;
        width: 300px;
        border: solid $main-black 1px;
        position: absolute;
        margin-left: 12px;
        margin-top: 24px;
    }
}

.advertising {
    height: 590px;
    width: 100%;
    margin-top: 120px;
    background-image: url('../images/cup_head.png');
    background-size: cover;
}