.productForm {
    margin-left: 50px;
    margin-top: 50px;
    &__btn {
        margin-top: 15px;
        display: block;
    }
    &__success {
        color: green;
    }
    &__error {
        color: red;
    }
    &__img {
        width: 200px;
        margin: 4px 10px 0 0;
    }
    &__images {
        display: flex;
    }
    &__goBack {
        margin-top: 20px;
        margin-left: 50px;
        margin-bottom: 50px;
    }
}

.field,
.productForm {
    &__label {
        display: block;
        margin-top: 10px;
        &--checkbox {
            margin-top: 2px;
        }
    }
    &__input {
        display: block;
    }
}