//Mobile layout
@media(max-width:1300px) {
    .main {
        &__graphic {
            display: none;
        }
    }
    .gallery {
        width: 100%;
    }
    .infoblock {
        width: 100%;
    }
    .card {
        width: 30vw;
        height: 30vw;
        margin-top: 15px;
        margin-bottom: 15px;
        &__shadow {
            width: 30vw;
            height: 30vw;
        }
    }
    .advertising__info {
        width: 90%;
        height: 40vw;
    }
}

@media(max-width:1000px) {
    .image {
        &__slimes {
            width: 100px;
            height: 85px;
        }
        &__mushroom {
            right: 20px;
            top: -60px;
            width: 47px;
            height: 45px;
            margin-top: 20px;
        }
    }
    .card {
        width: 30vw;
        height: 30vw;
        margin-top: 15px;
        margin-bottom: 15px;
        &__shadow {
            width: 30vw;
            height: 30vw;
        }
    }
    .advertising {
        &__text {
            font-size: 40px;
        }
    }
}

@media(max-width:850px) {
    .input {
        display: none;
    }
    .infoblock {
        width: 100%;
    }
    .advertising {
        &__info {
            flex-direction: column;
            height: auto;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        &__card {
            order: 2;
            align-items: center;
        }
        &__text {
            text-align: center;
        }
    }
    .hamburgermenu__row {
        display: block;
    }
    .navigator {
        display: none;
    }
    .header {
        &__acontainer {
            display: none;
        }
    }
    .banner {
        height: 500px;
        &__card {
            margin-bottom: 0px;
        }
        &__text {
            font-size: 60px;
        }
    }
    .infoblock {
        &__text {
            width: 90%;
        }
        &__container {
            flex-direction: column;
            align-items: center;
        }
    }
    .card {
        width: 50vw;
        height: 50vw;
        margin-top: 15px;
        margin-bottom: 15px;
        &__shadow {
            width: 50vw;
            height: 50vw;
        }
    }
    .gallery {
        margin-top: 5%;
        width: 90%;
        &__row {
            flex-direction: column;
        }
        &__container {
            &--left {
                margin-right: 0px;
            }
            &--right {
                margin-top: 10px;
            }
        }
    }
    .image {
        &__slimes {
            width: 78px;
            height: 70px;
            left: 20px;
            top: 125px;
        }
        &__mushroom {
            right: 20px;
            top: -60px;
            width: 47px;
            height: 45px;
            margin-bottom: 30px;
        }
        &__cuphead {
            width: 80%;
        }
    }
}

@media(max-width:500px) {
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }
    .infoblock {
        &__logo {
            width: 256px;
            height: 55px;
        }
    }
    .card {
        width: 60vw;
        height: 60vw;
        margin-top: 15px;
        margin-bottom: 15px;
        &__shadow {
            width: 60vw;
            height: 60vw;
        }
    }
    .image {
        &__slimes {
            width: 65px;
            height: 54px;
            top: -60px;
        }
        &__mushroom {
            right: 20px;
            top: -50px;
            width: 40px;
            height: 39px;
        }
        &__play {
            width: 100px;
            height: 70px;
        }
        &__share {
            width: 62px;
            height: 71px;
        }
        &__code {
            width: 75px;
            height: 66px;
        }
        &__cuphead {
            width: 90%;
        }
    }
    .gallery {
        margin-top: 3%;
        width: 94%;
        &__row {
            padding: 7px;
            &--down {
                padding-top: 0px;
            }
        }
        &__container {
            &--right {
                margin-top: 7px;
            }
        }
    }
    .banner {
        &__text {
            font-size: 44px;
        }
    }
    .button {
        width: 190px;
        height: 40px;
        &__shadow {
            width: 190px;
            height: 40px;
        }
    }
    .hamburgermenu__row {
        width: 30px;
    }
    .advertising {
        &__text {
            margin-top: 20px;
            font-size: 37px;
        }
    }
}

@media(max-width:400px) {
    .text {
        &__mtop {
            font-size: 18px;
        }
    }
    .image {
        &__cuphead {
            width: 95%;
        }
    }
}

@media(max-width:325px) {
    .text {
        &__mtop {
            font-size: 15px;
        }
    }
}