//Mobile layout
@media(max-width:1300px) {
    .main {
        &__graphic {
            display: none;
        }
    }
    .gallery {
        width: 100%;
    }
}

@media(max-width:1000px) {
    .infoblock {
        width: 100%;
    }
}