$pink-color:#EA3F4F;
$yellow-color:#FFF57F;
$purple-color: #6E7DF8;
$red-color:rgb(255, 115, 113);
$green-color:#60F77F;
$main-black:rgb(12, 12, 12);
$font-mono:'Fira Mono',
'Roboto Mono',
monospace;
$font-main:'Lato'