$pink-color:#EA3F4F;
$yellow-color:#FFF57F;
$yellow-store-color:#F9DB26;
$green-store-color: #53E06A;
$purple-store-color: #6E7DF8;
$purple-color: #6E7DF8;
$red-color:rgb(255, 115, 113);
$green-color:#60F77F;
$light-gray:#B3B3B3;
$orange-color:#EA9639;
$body-background-color: #F9F9F9;
$very-light-gray: #eeeeee;
$product-text-color: rgb(153, 153, 153);
$main-black:rgb(0, 0, 0);
$filter-gray-color: #DBDBDB;
$font-mono:'Fira Mono',
'Roboto Mono',
monospace;
$font-roboto: 'Roboto Mono',
monospace;
$font-main:'Lato'