@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
.image__code {
  width: 116px;
  height: 102px;
}

.image__share {
  width: 106px;
  height: 106px;
}

.image__play {
  width: 146px;
  height: 122px;
}

.image__slimes {
  left: 90px;
  top: 90px;
  width: 135px;
  height: 122px;
  position: absolute;
}

.image__mushroom {
  right: 90px;
  top: 250px;
  width: 60px;
  height: 59px;
  position: absolute;
}

.image__cuphead {
  width: 602px;
  height: 217px;
}

.image__responsivelogo {
  width: 50px;
}

.image__facebook {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 100px;
  right: 100px;
}

.image__slider {
  height: 40px;
  position: absolute;
  top: 500px;
  z-index: 1;
}

.image__slider--forward {
  right: 15px;
}

.image__slider--back {
  left: 15px;
}

.banner {
  background-size: cover;
  background-position: center;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  background-image: url("../images/banner1.png");
  -webkit-animation: banner 21s infinite linear;
          animation: banner 21s infinite linear;
  width: 100%;
  height: 600px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__info {
  height: 560px;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__card {
  margin-bottom: 55px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner__text {
  font-family: 'Roboto Mono', monospace;
  font-size: 70px;
  line-height: 1;
  color: white;
  margin: 0;
}

.banner__anim {
  float: left;
  color: white;
  position: relative;
  font-family: 'Roboto Mono';
  font-size: 14px;
  font-weight: lighter;
  margin-left: 20px;
}

.span__anim {
  position: absolute;
  right: 0;
  width: 0;
  height: 20px;
  background-color: black;
  border-left: 1px solid white;
  -webkit-animation: machine 5s infinite alternate steps(28);
          animation: machine 5s infinite alternate steps(28);
}

@-webkit-keyframes machine {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes machine {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@-webkit-keyframes banner {
  0% {
    background-image: url("../images/banner1.png");
  }
  33% {
    background-image: url("../images/banner1.png");
  }
  34% {
    background-image: url("../images/banner3.png");
  }
  66% {
    background-image: url("../images/banner3.png");
  }
  67% {
    background-image: url("../images/banner2.png");
  }
  100% {
    background-image: url("../images/banner2.png");
  }
}

@keyframes banner {
  0% {
    background-image: url("../images/banner1.png");
  }
  33% {
    background-image: url("../images/banner1.png");
  }
  34% {
    background-image: url("../images/banner3.png");
  }
  66% {
    background-image: url("../images/banner3.png");
  }
  67% {
    background-image: url("../images/banner2.png");
  }
  100% {
    background-image: url("../images/banner2.png");
  }
}

.header {
  height: 70px;
  width: 100%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  height: 30%;
}

.header__items {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__acontainer {
  margin: auto;
  display: table;
}

.navigator {
  background-color: rgba(42, 42, 42, 0.5);
  height: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigator__item {
  font-family: Roboto Mono, monospace;
  font-weight: 900;
  border: none;
  background: none;
  color: white;
  outline: none;
  font-size: 14px;
  cursor: pointer;
}

.navigator__feedback {
  width: 70px;
  height: 3px;
  background-color: #EA3F4F;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.navigator__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigator__block:hover .navigator__feedback {
  display: block;
}

.navigator__block:hover .navigator__item {
  color: #bebebe;
}

.navigator__sep {
  width: 2px;
  height: 60%;
  margin-right: 15px;
  margin-left: 15px;
  background-color: #FFF57F;
}

.navigator__sep--purple {
  background-color: #6E7DF8;
}

.navigator__sep--pink {
  background-color: #EA3F4F;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato";
  outline: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

ul {
  list-style: none;
}

main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  background-color: white;
  border: 0;
  font-size: 13px;
  letter-spacing: 2px;
  height: 45px;
  width: 230px;
  font-family: Roboto, monospace;
  font-weight: 400;
  -webkit-box-shadow: inset 0 0 0 0 rgba(42, 42, 42, 0.3);
          box-shadow: inset 0 0 0 0 rgba(42, 42, 42, 0.3);
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  position: relative;
  z-index: 100;
}

.button:hover {
  -webkit-box-shadow: inset 240px 0 20px 0 #f0f0f0;
          box-shadow: inset 240px 0 20px 0 #f0f0f0;
  color: #EA3F4F;
}

.button__shadow {
  height: 45px;
  width: 230px;
  border: solid white 1px;
  position: absolute;
  margin-left: 4px;
  margin-top: 4px;
}

.button__shadow--footer {
  width: 100px;
}

.button__div {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button__div--footer {
  margin-top: 0px;
  width: 100px;
}

.button--gallery {
  background-color: transparent;
  position: relative;
  z-index: 1;
  border: solid white 1px;
  color: white;
  margin-bottom: 20px;
  margin-left: 20px;
}

.button__adv {
  background-color: black;
  color: white;
}

.button__adv--shadow {
  border: solid black 1px;
}

.input {
  background-color: #2a2a2a;
  border: 0px;
  height: 40%;
  font-family: Roboto Mono, monospace;
  color: white;
  padding-left: 10%;
  outline: none;
}

h2 {
  font-size: 35px;
  margin-top: 40px;
  font-family: "Fira Mono", "Roboto Mono", monospace;
}

.text {
  margin: 0;
  font-weight: normal;
  text-align: center;
}

.text__mono {
  font-family: 'Roboto Mono', monospace;
}

.text__white {
  color: white;
}

.text__light {
  font-weight: lighter;
}

.text__heading {
  font-size: 26px;
}

.text__bold {
  font-weight: bold;
}

.text__mleft {
  margin-left: 5px;
}

.text__mtop {
  margin-top: 5px;
}

.text__cuerpo {
  font-size: 20px;
}

.text__footer {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
  cursor: pointer;
}

.text__footer:hover {
  margin-left: 20px;
  color: #a0a0a0;
}

.animtext {
  float: left;
  position: relative;
}

.spananim {
  position: absolute;
  right: 0;
  width: 0;
  background-color: black;
  border-left: 1px solid white;
  -webkit-animation: machine 5s infinite alternate;
          animation: machine 5s infinite alternate;
}

@keyframes machine {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.gallery {
  width: 77%;
  background-color: #E7E6E2;
  margin-top: -55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
  width: 100%;
}

.gallery__row--down {
  padding-top: 0px;
}

.gallery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.gallery__container--right {
  padding-right: 0px;
}

.gallery__container--left {
  margin-right: 10px;
}

.gallery__container:hover .gallery__layer {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.gallery__photo {
  width: 100%;
}

.gallery__layer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .1s ease;
  transition: .1s ease;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__graphic {
  position: absolute;
  z-index: 0;
}

.main__graphic--one {
  left: 0px;
  width: 60px;
  top: 50px;
}

.main__graphic--two {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 85px;
}

.main__graphic--three {
  position: absolute;
  top: 860px;
  left: 0px;
  width: 200px;
}

.main__graphic--four {
  position: absolute;
  top: 600px;
  right: -5px;
  width: 400px;
}

.main__graphic--five {
  position: absolute;
  top: 800px;
  right: -5px;
  width: 40px;
}

.infoblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
  width: 75%;
}

.infoblock__logo {
  width: 280px;
  height: 61px;
}

.infoblock__text {
  font-size: 22px;
  text-align: center;
  width: 700px;
}

.infoblock__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
  width: 100%;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 300px;
  background-color: black;
}

.card__square {
  width: 30px;
  height: 30px;
}

.card__square--one {
  background-color: #ff7371;
}

.card__square--two {
  background-color: #FFF57F;
}

.card__square--three {
  background-color: #60F77F;
}

.card__squares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card__squares--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card__squarescontainer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  bottom: 0px;
}

.card__squarescontainer--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0px;
}

.card__shadow {
  height: 300px;
  width: 100%;
  border: solid black 1px;
  position: absolute;
  margin-left: 12px;
  margin-top: 24px;
}

.advertising {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 590px;
  width: 100%;
  margin-top: 120px;
  background-color: #FFCF10;
  background-size: cover;
}

.advertising__info {
  width: 75%;
  height: 590px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advertising__text {
  color: black;
  font-size: 60px;
}

.advertising__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advertising__button:hover {
  -webkit-box-shadow: inset 240px 0 20px 0 #1e1e1e;
          box-shadow: inset 240px 0 20px 0 #1e1e1e;
  color: #EA3F4F;
}

.carrousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-top: 40px;
  overflow: hidden;
  height: 800px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carrousel__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.carrousel__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carrousel__card {
  width: 350px;
  height: 400px;
  margin-left: 60px;
  background-color: #e7e6e3;
  -webkit-box-shadow: 0px 40px 19px -30px rgba(50, 50, 50, 0.2);
          box-shadow: 0px 40px 19px -30px rgba(50, 50, 50, 0.2);
  padding: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.carrousel__card:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-box-shadow: 0px 40px 19px -30px rgba(50, 50, 50, 0.54);
          box-shadow: 0px 40px 19px -30px rgba(50, 50, 50, 0.54);
}

.carrousel__image {
  width: 100%;
}

@media (max-width: 1300px) {
  .main__graphic {
    display: none;
  }
  .gallery {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .infoblock {
    width: 100%;
  }
}

.footer {
  width: 100%;
  height: 600px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__left {
  width: 50%;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.footer__text--header {
  font-size: 50px;
  color: white;
  font-family: "Fira Mono", "Roboto Mono", monospace, monospace;
  margin-top: 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50px;
  width: 100%;
}

.footer__input {
  height: 45px;
  width: 63%;
  margin-right: 10px;
  background-color: transparent;
  color: white;
  border: solid white 1px;
  font-family: 'Roboto Mono';
  font-weight: lighter;
  font-size: 14px;
  padding-left: 20px;
}

.footer__input::-webkit-input-placeholder {
  color: #a5a4a4;
  font-weight: lighter;
}

.footer__input:-ms-input-placeholder {
  color: #a5a4a4;
  font-weight: lighter;
}

.footer__input::-ms-input-placeholder {
  color: #a5a4a4;
  font-weight: lighter;
}

.footer__input::placeholder {
  color: #a5a4a4;
  font-weight: lighter;
}

.footer__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 200px;
}

.footer__grid--left {
  margin-right: 30px;
}
/*# sourceMappingURL=main.css.map */