@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.banner {
  background-image: url("../images/banner.png");
  background-size: cover;
  width: 100%;
  height: 600px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__info {
  height: 560px;
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__card {
  margin-bottom: 55px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner__text {
  font-family: 'Roboto Mono', monospace;
  font-size: 70px;
  line-height: 1;
  color: white;
  margin: 0;
}

.header {
  height: 70px;
  width: 100%;
  background-color: #0c0c0c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  height: 30%;
}

.header__items {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigator {
  background-color: rgba(42, 42, 42, 0.5);
  height: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigator__item {
  font-family: Roboto Mono, monospace;
  font-weight: 900;
  border: none;
  background: none;
  color: white;
  outline: none;
  font-size: 14px;
  cursor: pointer;
}

.navigator__feedback {
  width: 70px;
  height: 3px;
  background-color: #EA3F4F;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.navigator__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigator__block:hover .navigator__feedback {
  display: block;
}

.navigator__block:hover .navigator__item {
  color: #bebebe;
}

.navigator__sep {
  width: 2px;
  height: 60%;
  margin-right: 15px;
  margin-left: 15px;
  background-color: #FFF57F;
}

.navigator__sep--purple {
  background-color: #6E7DF8;
}

.navigator__sep--pink {
  background-color: #EA3F4F;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato";
  font-weight: 400;
}

body {
  margin: 0;
}

main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  background-color: white;
  border: 0;
  font-size: 13px;
  letter-spacing: 2px;
  height: 45px;
  width: 230px;
  font-family: Roboto, monospace;
  font-weight: 400;
  -webkit-box-shadow: inset 0 0 0 0 rgba(42, 42, 42, 0.3);
          box-shadow: inset 0 0 0 0 rgba(42, 42, 42, 0.3);
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  position: relative;
  z-index: 100;
}

.button:hover {
  -webkit-box-shadow: inset 240px 0 20px 0 #f0f0f0;
          box-shadow: inset 240px 0 20px 0 #f0f0f0;
  color: #EA3F4F;
}

.button__shadow {
  height: 45px;
  width: 230px;
  border: solid white 1px;
  position: absolute;
  margin-left: 4px;
  margin-top: 4px;
}

.button__div {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button--gallery {
  background-color: transparent;
  position: relative;
  z-index: 1;
  border: solid white 1px;
  color: white;
  margin-bottom: 20px;
  margin-left: 20px;
}

.input {
  background-color: #2a2a2a;
  border: 0px;
  height: 40%;
  font-family: Roboto Mono, monospace;
  color: white;
  padding-left: 10%;
  outline: none;
}

.button:hover {
  -webkit-box-shadow: inset 230px 0 0 0 #fafafa;
          box-shadow: inset 230px 0 0 0 #fafafa;
  color: #EA3F4F;
}

h2 {
  font-size: 35px;
  margin-top: 40px;
  font-family: "Fira Mono", "Roboto Mono", monospace;
}

.animtext {
  float: left;
  position: relative;
}

.spananim {
  position: absolute;
  right: 0;
  width: 0;
  background-color: black;
  border-left: 1px solid white;
  -webkit-animation: machine 5s infinite alternate;
          animation: machine 5s infinite alternate;
}

@-webkit-keyframes machine {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes machine {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.gallery {
  width: 1000px;
  background-color: #E7E6E2;
  margin-top: -55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
  width: 100%;
}

.gallery__row--down {
  padding-top: 0px;
}

.gallery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.gallery__container--right {
  padding-right: 0px;
}

.gallery__container--left {
  margin-right: 10px;
}

.gallery__container:hover .gallery__layer {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.gallery__photo {
  width: 100%;
}

.gallery__layer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .1s ease;
  transition: .1s ease;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__graphic {
  position: absolute;
  z-index: 0;
}

.main__graphic--one {
  left: 0px;
  width: 60px;
  top: 50px;
}

.main__graphic--two {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 85px;
}

.infoblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
  width: 990px;
  height: 500px;
}

.infoblock__logo {
  width: 280px;
  height: 61px;
}

.infoblock__text {
  font-size: 22px;
  text-align: center;
  width: 600px;
}

.infoblock__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
  width: 100%;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 300px;
  background-color: #0c0c0c;
}

.card__square {
  width: 30px;
  height: 30px;
}

.card__square--one {
  background-color: #ff7371;
}

.card__square--two {
  background-color: #FFF57F;
}

.card__square--three {
  background-color: #60F77F;
}

.card__squares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.card__squares--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
/*# sourceMappingURL=main.css.map */